beautifulsoup4==4.12.3
fastapi==0.111.0
feast==0.37.1
feedparser==6.0.11
gradio==4.29.0
langchain==0.1.17
langchain_community==0.0.36
langchain_core==0.1.50
langchain_experimental==0.0.57
langchain_text_splitters==0.0.1
litellm==1.35.37
lxml==5.2.1
ollama==0.1.9
openai==1.25.1
pandas==2.2.2
PyJWT==2.8.0
Requests==2.31.0
transformers==4.40.1
uvicorn==0.29.0
zhipuai==2.0.1.20240429
